{% extends 'layout.html' %}
{% block content %}
<br><br><br><br>
<br><br><br><br>
{% include 'locator_section.html' %}
{% if results == None %}
{% elif results %}
<!-- http://127.0.0.1:5000/locator?practice_name=&speciality=Chiropractor&radius=5+miles&city_zip=&submit=Search -->
	<a href="{{ url_for('locator', practice_name = request.args.get('practice_name'), speciality = request.args.get('speciality'), radius = request.args.get('radius'), city_zip = request.args.get('city_zip'), submit = request.args.get('submit'), sort_name = 'A') }}">Sort Name Ascending</a>
	<a href="{{ url_for('locator', practice_name = request.args.get('practice_name'), speciality = request.args.get('speciality'), radius = request.args.get('radius'), city_zip = request.args.get('city_zip'), submit = request.args.get('submit'), sort_name = 'D') }}">Sort Name Descending</a>
	{% for doctor in results %}
	<h4>{{ doctor.id }} - {{ doctor.name }} - {{ doctor.speciality }} - {{ doctor.address }}</h4>
	<br>
	{% endfor %}
{% else %}
  <h3>Could not find Providers for Query</h3>
{% endif %}


{% endblock %}
