<section id="appointment" class="appointment section-bg">
   <div class="container">
      <div class="section-title">
         <h2>Find a Location</h2>
      </div>
      <form action="{{ url_for('locator') }}" method="GET">
         <div class="form-row justify-content-md-center">
            <div class="form-group col-md-3">
               {{ form.practice_name.label }}
               {{ form.practice_name(class="form-control") }}
            </div>
            <div class="form-group col-md-2">
            {{ form.speciality.label }}
			{{ form.speciality(class="form-control") }}
            </div>
            <div class="form-group col-md-2">
               {{ form.radius.label }}
			   {{ form.radius(class="form-control") }}
			</div>
            <div class="form-group col-md-2">
               {{ form.city_zip.label }}
			   {{ form.city_zip(class="form-control") }}
         {% if form.city_zip.errors and form.speciality.data %}
           {% for city_zip_error in form.city_zip.errors %}
             <div class ="alert alert-danger">
               {{ city_zip_error }}
             </div>
           {% endfor %}
         {% endif %}
            </div>
         </div>
         <!--   <div class="text-center"><a href="locator.html" type="submit" class="appointment-btn scrollto">Search</a></div> -->
         {{ form.submit(class="form-control") }}
      </form>
   </div>
</section>
<!-- End Appointment Section -->
